<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
	<sitecore role:require="Standalone or ContentManagement or ContentDelivery" search:require="solr">
		<contentSearch>
			<indexConfigurations>
				<defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
					<fieldMap>
						<typeMatches hint="raw:AddTypeMatch">
							<typeMatch typeName="guidCollection2"      type="System.Collections.Generic.IEnumerable`1[System.Guid]"    fieldNameFormat="{0}_sm"  multiValued="true"   settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
							<typeMatch typeName="stringCollection2"    type="System.Collections.Generic.IEnumerable`1[System.String]"   fieldNameFormat="{0}_sm"  multiValued="true"   settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
							<typeMatch typeName="intCollection2"          type="System.Collections.Generic.IEnumerable`1[System.Int32]"     fieldNameFormat="{0}_im"   multiValued="true"   settingType="Sitecore.ContentSearch.SolrProvider.SolrSearchFieldConfiguration, Sitecore.ContentSearch.SolrProvider" />
						</typeMatches>
						<fieldTypes>
							<fieldType fieldTypeName="droplink|droptree|grouped droplink|tree" returnType="string" />
						</fieldTypes>
					</fieldMap>
					<documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
						<include hint="list:AddIncludedField">
							<!--<fieldId>{558F9307-EBAF-480D-88B5-DFE9E63A66DE}</fieldId>-->
						</include>
						<fields hint="raw:AddComputedIndexField">
							<field fieldName="_templates">RainflyAdventures.Training.Foundation.Search.ComputedFields.TemplateInheritance,RainflyAdventures.Training.Foundation.Search</field>
							<field fieldName="pageurl"  storageType="yes" returnType="string">RainflyAdventures.Training.Foundation.Search.ComputedFields.PageUrlField,RainflyAdventures.Training.Foundation.Search</field>
						</fields>
					</documentOptions>
				</defaultSolrIndexConfiguration>
			</indexConfigurations>
		</contentSearch>
	</sitecore>
</configuration>