<!--See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Feature.Navigation" description=" Feature Navigation" dependencies="Foundation.*" >
					<predicate>
						<include name="Templates" database="master" path="/sitecore/templates/Feature/Navigation"/>
						<include name="Templates-Branch" database="master" path="/sitecore/templates/Branches/Feature/Navigation"/>
						<include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Navigation"/>
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
