<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
    xmlns:set="http://www.sitecore.net/xmlconfig/set/"
    xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone">
		<!-- CHANGE THIS, THEN COPY TO APP_CONFIG/INCLUDE/ENVIRONMENT-->
		<sc.variable name="sourceFolder" value="C:\thecodeattic\TheCodeAttic.Training.Sitecore\src" />
		<settings>
			<setting name="Rainbow.SFS.SerializationFolderPathMaxLength" value="110" />
		</settings>
		<unicorn>
			<defaults>
				<targetDataStore>
					<patch:attribute name="physicalRootPath">$(sourceFolder)\Unicorn\$(configurationName)</patch:attribute>
				</targetDataStore>
			</defaults>
		</unicorn>
<!--
<sites>
			<site patch:before="site[@name='website']"
				  name="RainflyTraining"
				  virtualFolder="/"
				  physicalFolder="/"
				  rootPath="/sitecore/content/RainflyTraining"
				  startItem="/Home"
				  database="master"
				  domain="extranet"
				  allowDebug="true"
				  cacheHtml="true"
				  htmlCacheSize="10MB"
				  registryCacheSize="0"
				  viewStateCacheSize="0"
				  xslCacheSize="5MB"
				  filteredItemsCacheSize="2MB"
				  enablePreview="true"
				  enableWebEdit="true"
				  enableDebugger="true"
				  disableClientData="false"
				  hostName="cm.rainflyadventures.local"
				  targetHostName="cm.rainflyadventures.local"
				  scheme="https"/>
		</sites>
-->
	</sitecore>
</configuration>
