<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
    xmlns:set="http://www.sitecore.net/xmlconfig/set/"
    xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone">
		<!-- CHANGE THIS, THEN COPY TO APP_CONFIG/INCLUDE/ENVIRONMENT-->
		<sc.variable name="sourceFolder" value="C:\thecodeattic\TheCodeAttic.Training.Sitecore\src" />
		<settings>
			<setting name="Rainbow.SFS.SerializationFolderPathMaxLength" value="110" />
		</settings>
		<unicorn>
			<defaults>
				<targetDataStore>
					<patch:attribute name="physicalRootPath">$(sourceFolder)\Unicorn\$(configurationName)</patch:attribute>
				</targetDataStore>
			</defaults>
		</unicorn>
	</sitecore>
</configuration>
