<!--See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Feature.PageContent" description=" Feature PageContent" dependencies="Foundation.*" >
					<predicate>
						<include name="Templates" database="master" path="/sitecore/templates/Feature/PageContent"/>
						<include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/PageContent"/>
						<include name="Rendering-Models" database="master" path="/sitecore/layout/Models/Feature/PageContent"/>
						<!--<include name="Rendering-Placeholders" database="master" path="/sitecore/layout/Placeholder Settings/Feature"/>-->
						<include name="Media-Assets" database="master" path="/sitecore/media library/Feature/PageContent/Assets"/>
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
