/* 
.containerColumn {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-evenly;
}

.containerRow {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: space-evenly;
}

.centerContainerItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.standardContainerItem {
    display: flex;
    align-self: flex-start;
    justify-content: center;
} */