.tangerine{
    fill:#c87620;
    color:#E39E30;
}

/* https://www.canva.com/colors/color-palettes/autumn-squash/*/
.band{
    height: 50px;
    width: 100%;
}
.wrapper{
    display: inline-block;
}
.leftSidebar{
    width: 20%;
    margin-right: 5px;
   
    display: inline-flexbox;
    position: relative;
    float: left;
}

.noDecoration{
    list-style: none;
}

.mainBody{
    width: 75%;
    margin-right: 5px;
    position: relative;
    float: left;
    border-left: solid 1px grey;
    padding-left: 5px;
}

.largeFont{
    font-size: 24px;
    text-align: center;
}