<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:env="http://www.sitecore.net/xmlconfig/env/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" >
	<sitecore>
		<sites>
			<site patch:before="site[@name='website']"
				  name="RainflyTraining"
				  virtualFolder="/"
				  physicalFolder="/"
				  rootPath="/sitecore/content/RainflyTraining"
				  startItem="/Home"
				  database="master"
				  domain="extranet"
				  allowDebug="true"
				  cacheHtml="true"
				  htmlCacheSize="10MB"
				  registryCacheSize="0"
				  viewStateCacheSize="0"
				  xslCacheSize="5MB"
				  filteredItemsCacheSize="2MB"
				  enablePreview="true"
				  enableWebEdit="true"
				  enableDebugger="true"
				  disableClientData="false"
				  hostName="cm.rainflyadventures.local"
				  targetHostName="cm.rainflyadventures.local"
				  scheme="https"/>
		</sites>
	</sitecore>
</configuration>