<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <mvc>
      <precompilation>
        <assemblies>
          <assemblyIdentity name="RainflyAdventures.Training.Project.RainflyAdventures.Training" />
        </assemblies>
      </precompilation>
    </mvc>
  </sitecore>
</configuration>
