<!--See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="RainflyAdventures.Training-Site" description=" RainflyTraining Site" dependencies="Feature.*" >
					<predicate>
						<include name="Templates" database="master" path="/sitecore/templates/Project/RainflyTraining"/>
						<include name="Branch-Templates" database="master" path="/sitecore/templates/Branches/Project/RainflyTraining"/>
						<include name="Media" database="master" path="/sitecore/media library/RainflyTraining"/>
						<include name="Layout" database="master" path="/sitecore/layout/Layouts/Project/RainflyTraining" />
						<include name="Content" database="master" path="/sitecore/content/RainflyTraining"/>
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
