@using Sitecore.Mvc

<!-- Start Structures-OneColumnContentWidth -->
<div class="Structures-OneColumnContentWidth limit-max-width">
    @Html.Sitecore().DynamicPlaceholder("primarycontent")
</div>
<!-- End Structures-OneColumnContentWidth -->