<!--See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Foundation.Core" description="Foundation Core" >
					<predicate>
						<include name="Base-Templates" database="master" path="/sitecore/templates/Foundation/Base"/>
						<include name="Content-Templates" database="master" path="/sitecore/templates/Foundation/Content"/>						
						<include name="Rendering-Models" database="master" path="/sitecore/layout/Models/Foundation"/>
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
