<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" >
	<sitecore>
		<contentSearch>
			<indexConfigurations>
				<!-- If no configuration is specified for an index, it uses the default configuration. The configurations are not merged if the index also has a
             configuration. The system uses either the default configuration or the index configuration. -->
				<defaultLuceneIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">
					<documentOptions type="Sitecore.ContentSearch.LuceneProvider.LuceneDocumentBuilderOptions, Sitecore.ContentSearch.LuceneProvider">
						<include hint="list:AddIncludedField">
							<!--Rating-->
							<Rating>{8260155A-CE0A-450B-BF48-74A5897BE58E}</Rating>
							<!--Cost-->
							<Cost>{91290ABA-E8DD-4020-9A00-E58326408D42}</Cost>
						</include>
					</documentOptions>

					<fieldMap type="Sitecore.ContentSearch.FieldMap, Sitecore.ContentSearch">
						<fieldNames hint="raw:AddFieldByFieldName">
							<field fieldName="Cost" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />
							<field fieldName="Rating" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String" settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />

						</fieldNames>
					</fieldMap>
				</defaultLuceneIndexConfiguration>
			</indexConfigurations>
		</contentSearch>
	</sitecore>
</configuration>